@import 'variables';
nav{
    color:$grey;
    font-size: 72px;
    line-height: .83;
    font-weight: bolder;
    text-transform: uppercase;
    width:600px;
    padding: 20px;
}
nav a{
    transition-duration: 400ms;
}
nav a:hover{
    color:#000;
    transition-duration: 200ms;
}